.search-container {
    position: fixed;
    z-index: 900;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #AF9069;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: -30px;
    margin-top: 20px;

  }
  
  .search-container h1 {
    color: #484E57;
    font-family: 'Manrope', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .input-row {
    display: flex;
    gap: 20px; /* Space between containers */
    align-items: center; /* Vertically align items */
  }
  
  /* Field Container Styling */
  .field-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1; /* Distribute space evenly */
  }
  
  .field-container label {
    font-size: 1rem;
    color: #484E57;
    font-family: 'Manrope', sans-serif;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #402910;
    border-radius: 5px;
    padding: 8px;
    background-color: #ffffff;
  }
  
  .date-input {
    flex: 1;
    border: none;
    outline: none;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    color: #402910;
    background-color: transparent;
  }
  
  .date-input::-webkit-calendar-picker-indicator {
    display: none;
  }
  
  .date-icon {
    font-size: 18px;
    color: #402910;
    cursor: pointer;
    margin-left: 8px;
  }
  
  /* Search Button Styling */
  .search-button {
    padding: 10px 20px;
    background-color: #254D91;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    height: 100%; /* Match height of field containers */
  }
  
  .search-button:hover {
    background-color: grey;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .input-row {
      flex-direction: column; /* Stack containers vertically on small screens */
      gap: 10px; /* Reduce gap for small screens */
    }
  
    .search-button {
      width: 100%; /* Make button full width on small screens */
    }
  }

  .mainBanner-container{
    position: relative;
    width:100%;
    height:auto;
    margin-left: -20px;
  }

  .main-img{
        width: 100vw; 
        object-fit: cover; 
        margin: 0px;
  }

  .banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -120%);
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Manrope', sans-serif;
  }

  .aboutUs-content{
    background-color: #F3EFEA;
    padding: 3rem 2rem;
    text-align: center;
    width: 100%;
    margin: 0px;
    margin-left: -30px;
  }

  .aboutUs-title{
    font-size: 1.875rem;
    font-family:serif;
    font-weight: 600;
    color: #484E57;
    font-size: 40px;
  }

  .aboutUs-text{
    margin-top: 3rem;
    color: #484E57;
    line-height: 1.6;
    font-size: 25px;
    padding-left: 200px;
    padding-right: 200px;
  }

  /* Slideshow */ 
  .slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin-left:-20px;
  }

  .slider-wrapper{
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 45px;
  }

  /* Slideshow Image */
  .slide{
    flex: 10% 80% 10%;
    width: 100vh;
    height: auto;
    opacity: 0.7;
  }

  .slide.active{
    opacity: 1;
  }

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
  }

  .text{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px;
  }
  .slide-container:hover .slide{
    opacity: 0.5;
  }
  .slide-container:hover .overlay{
    opacity: 1;
  }

  .left-arrow, .right-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: grey;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    z-index: 10;
  }

  .left-arrow{
    left: 20px;
  }

  .right-arrow{
    right: 20px;
  }

  .left-arrow:hover, .right-arrow:hover{
    background-color: grey;
    color: white;
  }