.booking-room-card {
  margin-bottom: 50px;
  border: 1px solid #82684b;
}

.booking-room-display img {
  width: 60%;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  float: right;
  border-radius: 10px;
}

.booking-room-display {
  padding: 30px;
  display: flex;
  flex-direction: row;
  background-color: #ede6dd;
}

.booking-room-card div {
  flex: 1;
}

.booking-room-details {
  text-align: left;
  padding-left: 30px;
  font-size: 14px;
  margin: 15px 0;
}

/*Icons*/
.booking-room-details svg {
  font-size: 18px;
  vertical-align: middle;
  color: gray;
}

.room-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ede6dd;
}

.meal-options {
  display: flex;
  font-size: 16px;
  border: 1px solid #82684b;
  border-radius: 10px;
  width: 60%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 10px;
}

.price {
  text-align: center;
}

.meal-title {
  font-size: 22px;
  font-family: Playfair Display;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .booking-room-display {
    flex-direction: column;
    align-items: center;
  }

  .booking-room-display img {
    width: 100%;
    float: none;
  }

  .meal-options {
    flex-direction: column;
  }
}
