.search-booking {
  gap: 10px;
}

.reference-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reference-input input {
  width: 90%;
  margin: 10px;
  font-size: 16px;
}

.find-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1000px;
  padding: 20px;
  background: #ede6dd;
  border-radius: 8px;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .find-form {
    width: 90%;
  }

  .reference-input {
    flex-direction: column;
  }
}
