/* General Form Styling */
.booking-form {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background: #EDE6DD;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
}

.form-group {
  flex: 1;
  min-width: 45%;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  margin-bottom: 5px;
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}


.button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #82684B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.guest-details {
  display: flex;
  margin: 30px;
  flex-direction: row;  
  gap: 20px; 
}

.guest-details-form {
  flex: 2;  
}

.guest-details-display {
  flex: 1;  
  padding: 10px;
  background-color: #EDE6DD;  
  border-radius: 8px;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}

.booking-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding: 10px; 
}

.booking-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding: 10px; 
  width: 100%;
}

.booking-details p,
.booking-details li {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  text-align: left; 
}

  .title{
    width: 40px;
  }

  .input-sole{
   

  display: flex;
  flex-direction: column;
  }
  hr {
    width: 100%;  
    border: none; 
    border-top: 2px solid #82684B; 
    margin: 10px 0; 
  }
  
select{
  height: 50px;
  width: 40px;
}