.booking-form {
  max-width: 1000px;
  padding: 20px;
  background: #ede6dd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
}

.form-group {
  flex: 1;
  min-width: 45%;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 400;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 45px;
  width:40%;
}

.guest-details {
  display: flex;
  margin: 30px;
  flex-direction: row;
  gap: 30px;
}

.guest-details-form {
  flex: 2;
}

.guest-details-display {
  flex: 1;
  padding: 10px;
  margin: 10px;
  background-color: #ede6dd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.booking-details {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}

.booking-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.booking-details p,
.booking-details li {
  margin: 0;
  padding: 0;
  text-align: left;
}

hr {
  width: 100%;
  border: none;
  border-top: 2px solid #82684b;
}

@media screen and (max-width: 768px) {
  .guest-details {
    flex-direction: column;
  }
  .form-group {
    
  }
}

.payment-details-form{
  box-shadow:rgba(0, 0, 0, 0.1);
  margin: 30px;
}
