.booking-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1000px;
  padding: 20px;
  background: #ede6dd;
  border-radius: 8px;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.2);
  margin: 0 auto; 
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr)); 
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.input-group select,
.input-group input {
  flex: 1;
  min-width: 80px; /* Prevents inputs from collapsing */
  padding: 10px;
  font-size: 16px;
}

label {
  font-weight: 400;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
  
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 45px;
  
}
.guest-details {
  display: flex;
  margin: 15px;
  flex-direction: row;
  gap: 30px;
}

.guest-details-form {
  flex: 2;
}

.guest-details-display {
  flex: 1;
  padding: 10px;
  background-color: #ede6dd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

.booking-details {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.booking-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.booking-details p,
.booking-details li {
  margin: 0;
  padding: 0;
  text-align: left;
}

hr {
  width: 100%;
  border: none;
  border-top: 2px solid #82684b;
}

@media screen and (max-width: 768px) {

  .guest-details {
    flex-direction: column; /* Stack guest details on smaller screens */
  }

  .form-grid {
    grid-template-columns: 1fr; /* Single column on mobile */
  }

  .input-group {
    flex-direction: column;
    gap: 5px; /* Reduce gap between input fields */
  }

  .input-group select,
  .input-group input {
    font-size: 13px; /* Adjust font size for smaller screens */
    padding: 7px;
  }

  .booking-form {
    padding: 15px; /* Reduce padding on mobile */
    gap: 8px; /* Reduce the gap between form elements */
  }
 
}

.payment-details-form{
  box-shadow:rgba(0, 0, 0, 0.1);
  margin: 30px;
}

@media screen and (max-width: 480px) {
  .form-grid {
    grid-template-columns: 1fr; /* Full width for each item */
  }

  .input-group select,
  .input-group input {
    font-size: 12px; /* Even smaller font size for mobile */
    padding: 6px;
  }

  label {
    font-size: 14px; /* Label font adjustment */
  }

  
}