.general-text {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  text-align: left;
  margin-left: 20px;
  margin-top: 0;
}

.header-container::before,
.header-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #82684b;
  position: relative;
}

.main-content::before {
  margin-bottom: 10px;
}

.main-content::after {
  margin-top: 10px;
}

.select-button {
  background-color: #82684b;
  color: white;
  font-family: "Playfair Display", serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  width: 100px;
}

.select-button.selected {
  background-color: #254d91;
  color: white;
}

.go-back {
  display: flex;
  align-items: left;
}
