.header-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #82684b;
  position: relative;
}

.main-content::before {
  margin-bottom: 10px;
}

.main-content::after {
  margin-top: 10px;
}

.select-button {
  background-color: #82684b;
  color: white;
  font-family: "Playfair Display", serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  width: 100px;
}

.select-button.selected {
  background-color: #254d91;
  color: white;
}

.go-back-link {
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
  padding: 10px 15px; /* Adds padding around */
  display: block; /* Ensures it takes full width and aligns left */
  text-align: left; /* Explicitly aligns text to the left */
}

/*
.go-back-link:hover {
  color: #0056b3;
  background-color: rgba(0, 123, 255, 0.1); /* Light hover effect */
